In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('/content/kaggle_diabetes.csv')

In [9]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            2      138             62  ...                     0.127   47        1
1            0       84             82  ...                     0.233   23        0
2            0      145              0  ...                     0.630   31        1
3            0      135             68  ...                     0.365   24        1
4            1      139             62  ...                     0.536   21        0

[5 rows x 9 columns]

In [10]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [15]:
y=df['Outcome']

In [16]:
y

0       1
1       0
2       1
3       1
4       0
       ..
1995    0
1996    1
1997    0
1998    1
1999    0
Name: Outcome, Length: 2000, dtype: int64

In [22]:
X = df.drop(columns = 'Outcome')

In [23]:
X

      Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0               2      138             62  ...  33.6                     0.127   47
1               0       84             82  ...  38.2                     0.233   23
2               0      145              0  ...  44.2                     0.630   31
3               0      135             68  ...  42.3                     0.365   24
4               1      139             62  ...  40.7                     0.536   21
...           ...      ...            ...  ...   ...                       ...  ...
1995            2       75             64  ...  29.7                     0.370   33
1996            8      179             72  ...  32.7                     0.719   36
1997            6       85             78  ...  31.2                     0.382   42
1998            0      129            110  ...  67.1                     0.319   26
1999            2       81             72  ...  30.1                     0.547   25

[2000 rows x 8 columns]

In [24]:
y.value_counts()

0    1316
1     684
Name: Outcome, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=4)

In [44]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train,y_train)
print("Score: ", lr.score(X_test,y_test))

Score:  0.2819557097730835